:root  {
				--main-color : #fb0057;
			}

			html, body {
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
			}

			h2, h5, p, pre {
				font-family: sans-serif;
				line-height: 1.8em;
			}

			pre {
				 white-space: pre-wrap;      /* CSS3 */   
  				 white-space: -moz-pre-wrap; /* Firefox */   
			}

			/* selection */
			/* WebKit/Blink Browsers */
			::selection {
			  background: var(--main-color);
			}

			 /* Gecko Browsers */
			::-moz-selection {
			  background: var(--main-color);
			}

			#container {
				display: flex;
				flex-direction: column;
				width: 600px;
				height: 100%;
				margin: 0 auto;
			}

			#header {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 100%;
				height: 90px;
				background: white;
			}

			#article {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				padding-top: 50px;
				flex: 1;
			}


			/* ------- HEADER ------- */

			/* link that redirect unto homepage */
			#homepage-link {
				margin-right: auto;
			}

			a {
				text-decoration: none;
				color: black;
				font-size: 1.2em;
			}

			/* button for publishing "article" */
			#post-link {
				padding: 9px 15px;
				border: 1px solid black;
				border-radius: 5px;
			}

			#post-link:hover {
				cursor: pointer;
			}

			#post-link:active {
				color: black;
			}

			/* ------- ARTICLE ------- */

			/* log article */
			.log-article {
				margin-bottom: 30px;
			}

			/* h2 title for article */
			.log-title {
				margin-bottom: 0;
			}

			.log-title:hover {
				color: var(--main-color);
				cursor: pointer;
			}

			/* h2 title for article */
			.log-date {
				margin-top: 0;
			}

			/* line separator */
			.separator {
				display: block;
				width: 20%;
				margin: 0 auto;
				margin-top: 30px;
				border-bottom: 1px dotted #c2c2c2;
			}
